# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
dist/
build/

# Virtual environment
venv/
env/
ENV/
*.env

# Flask instance folder (if used)
instance/

# Environment variables
.env
*.env

# Logs and temporary files
*.log
*.sqlite3
*.db

# IDE/editor files
.vscode/
.idea/
*.swp
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# App Specific
**/downloads/*

# Various Files
*$py.class
*.so
.Python
*.egg-info/
